body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  #searchInput{
    width: 25%!important;
    margin: 1rem 2rem;
  }
  
  
  /* to do app css */
  .task-list ul{
    list-style:none;
  }
  .task-list li{
    background-color: rgb(33,37,41);
    margin-bottom: 10px;
    text-align: start;
    margin-right: 20px;
    border-radius: 4px;
  }
  .task-list button.btn-danger{
    margin-left: 1rem;
    
  }
  .title{
    padding-left: 10px;
    color: #ddd;
    font-size: 35px;
    font-size: bold;
    text-transform: capitalize;
  }
  .desc{
    padding-left: 15px;
    color:#ccc;
    opacity: 0.8;
    padding-bottom: 5px;
  }
  
  .update-input{
    padding-top: 16px;
    padding-right: 16px;
  }
  
  .home-title a{
    color: #111;
    font-size: 4rem;
    text-decoration: none;
  }
  
  @media only screen and (min-width: 600px) {
    .search_sort_section{
      display: flex;
      justify-content: space-around;
      align-items:center;
      color: rgb(33,37,41);
    }
  }
  
  @media only screen and (max-width: 599px) {
    .search_sort_section{
      display: block;
  
      color: rgb(33,37,41);
    }
    .search_sort_section #searchInput{
      width: 80%!important;
    }
    .search_sort_section .btn{
      display: block;
      width: 100%;
      margin-bottom: 0.2rem;
    }
  }
  
  